@model ThisIsFantasy.ViewModels.PlayerClubViewModel

@{
    ViewBag.Title = "Index";
}
@Html.DropDownList("drop1", ViewBag.data1 as IEnumerable<SelectListItem>, new { @class = "form-control" })
<div class="container" id="teamdiv">
    <div class="form-group">
        <h2 class="h2"></h2>
        <table id="teamTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Player Name</th>
                    <th>Team Name</th>
                    <th>Position</th>
                    <th>Total Points</th>
                </tr>
            </thead>
            <tbody>
               
                @foreach (var player in Model.Players)
                {
                    //if (player.Player.TeamId == team.Id && player.Player.Position != null)
                    //{
                    <tr>
                        <td>@player.Name</td>
                        <td>@player.TeamName</td>
                        <td>@player.Position</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        //$(document).ready(function () {
        //    $('table').hide();
        //});

        //function ViewTable(id) {
        //    if ($('#' + id).is(":visible")) {
        //        $('#' + id).hide();
        //    } else {
        //        $('#' + id).show();
        //    }

        //}

        $("#drop1").change(function() {
            $("#specteamTable").find(this.value).draw();
        })
    </script>

@*.append("<option value='" + row.StateId + "'>" + row.StateName + "</option>")*@